* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.sidebar-nav {
  display: flex;
  width: 20%;
  flex-direction: column;

  justify-content: space-between;
  background-color: #7277fa3e;
  padding: 20px;
}

.logo img {
  height: 150px;
  width: 150px;
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 3;
}

.navbar ul {
  display: flex;
  flex-direction: column;

}


.profile {
  background-color: red;
  height: 80px;
  width: 80px;
  border-radius: 90%;
}

.profile img {
  height: 80px;
  width: 80px;
  border-radius: 90%;
}

.doctor-banner h1 {
  color: #585ce5;
}

.right-bar {
  width: 80%;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.counter-1 img,
.counter-2 img,
.counter-3 img {
  height: 80px;
  width: 80px;
  /* border-radius: 90%; */
}

.counter-section {
  display: flex;
  align-items: center;
  padding: 35px;
  background-color: #f4f7f8;
  gap: 20px;
}

.doctor-pannel {
  display: flex;
}

.appointment-tbl {
  background-color: #f4f7f8;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.table-row {
  width: 90%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 15px;
  /* align-items: center; */
}



.table-header {
  display: flex;
  font-size: 23px;
  color: #585ce5;
  line-height: 3;
  font-weight: 600;
}

.table-data {
  display: flex;
  line-height: 1;
  font-size: 20px;
  align-items: center;
  color: #ababab;
  gap: 95px;
}

.table-border {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 10px 50px;
  /* gap: 20px; */
}


.table-border .pres-btn {
  padding: 15px 25px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #585ce5;
}

.card-se6 {
  height: 500px;
  width: 35%;
  padding: 25px 25px;
}

.card-box-se6 {
  height: 450px;
  background-color: #F3F7FD;
  padding: 10px;
}

.card-color-se6 {
  display: flex;
  height: 430px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
}

.feedback {
  /* display: flex;
  flex-direction: row; */
  padding: 35px;
background-color: #f4f7f8;

}

.feedback-section{
  display: flex;
  background-color: #ffffff;
  
  border-radius: 15px;
}

.left-side-footer{
  display: flex;
}

.footer {
  background-color:#ffffff;;
  padding: 60px 35px 0 35px ;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.lower-section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.header {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.counter-card {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.counter-card .label {
  color: #ababab;
  font-size: 15px;
}

.counter .label-count {
  color: #4d4d4d;
  font-size: 35px;
}

.profile-se6 img{
  height: 100px;
  width: 100px;
  border-radius: 90%;
}

.text-content-se6 p{
  font-size: 15px;
}

.footer-header{
  font-size: 30px;
  color: #000000;
}

.footer-add{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer-add h6{
  font-size: 25px;
}

.footer-add p{
  width: 50%;
  word-wrap: break-word;
}

.lower-section{
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

.lower-section a{
  text-decoration: none;
  color: #000000;
}