<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment Form</title>
  <link rel="stylesheet" href="../../../public/css/patientCSS/appointment.css">
</head>

<body>
  <div class="main">
    <section class="container">

      <div class="body">
        <div class="sideBar">
          <p>content__sidebar</p>
        </div>
        <div class="full">
          <div class="header">
            <h3 class="textHeader">Appointment Form</h3>
            <img src="../../../public/assets/profile.png" alt="profile" class="profilePic">
          </div>
          <hr>
          <div class="form">
            <fieldset>
                <h2></h2>
                <label for="department"><b>Department:</b></label>
                <select name="doctorDepartment" id="departments" class="department">
                  <option value="department">Select Department</option>
                  <option value="cardiology">Cardiology</option>
                  <option value="dental">Dental</option>
                  <option value="neurology">Neurology</option>
                  <option value="medicine">Medicine</option>
                  <option value="pediatric">Pediatric</option>
                </select>
            
                <label for="doctor"><b>Doctor:</b></label>
                <select name="doctors" class="doctor">
                  <option value="department">Select Doctor</option>
                  <option value="cardiology">Cardiology</option>
                  <option value="dental">Dental</option>
                  <option value="neurology">Neurology</option>
                  <option value="medicine">Medicine</option>
                  <option value="pediatric">Pediatric</option>
                </select>
              </fieldset>
          </div>
        </div>
      </div>
      <br><br>

    </section>
  </div>
</body>

</html>