<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../../../public/css/patientCSS/patientHomePage.css">
  <script src="../../../public/javascript/patientPanel/home.js"></script>
</head>

<body>
  <div class="mainBody">
    <section class="container">

      <div class="body">
        <div class="sideBar">
          <p>content__sidebar</p>
        </div>
        <div class="right">
          <!-- <div class="first">
            <div class="main"> -->
              <div class="topBar">
                <div class="heading">
                  <h3>Home Page</h3>
                </div>
                <div>
                  <a href="./patientProfile.html"><img src="../../../public/assets/profile.png" alt="profile" class="profilePic"></a>
                </div>
              </div>
              <div class="mainContent">
                <div class="textHome">Value Your Health Before it's Too Late</div>
                <div class="imageHome">
                  <img src="../../../public/assets/doctor-nurses-special-equipment.jpg" alt="doctors" class="image1">
                </div>
              </div>
            <!-- </div>
          </div> -->
          <div class="middle">
            <div class="head">
              <u><h2>Our Doctors</h2></u>
              <p class="textMiddle">We provide a wide range of creative services for clients. But the most important thing
                is that of pleasure.</p>
                <br>
                <div class="doctorDepartment">
                  <!-- <form> -->
                    <div>
                      <input type="button" name="allDepartment" id="depAll" value="All Department" onclick="depAll()">
                    </div>
                    <div>
                      <input type="button" name="cardiology" id="depCardio" value="Cardiology" onclick="depCardio()">
                    </div>
                    <div>
                      <input type="button" name="dental" id="depDental" value="Dental" onclick="depDental()">
                    </div>
                    <div>
                      <input type="button" name="neurology" id="depNeurology" value="Neurology" onclick="depNeuro()">
                    </div>
                    <div>
                      <input type="button" name="medicine" id="depMedicine" value="Medicine" onclick="depMed()">
                    </div>
                    <div>
                      <input type="button" name="pedia" id="depPedia" value="Pediatric" onclick="depPedia()">
                    </div>
                    


                    <!-- <div>
                      <input type="button" name="allDepart" id="departmentAll" value="All Department" onclick="depAll()">
                    </div>
                    <div>
                      <input type="button" name="cardiology" id="departmentCardio" value="Cardiology" onclick="depCardio()">
                    </div>
                    <div>
                      <input type="button" name="dental" id="departmentDental" value="Dental" onclick="depDental()">
                    </div> -->
                    <br>
                  <!-- </form> -->
                </div>
                <div class="cover">
                  
                  <div class="pics">
                    <!-- <input type="button" name="" class="left" onclick="leftScroll()"> -->
                    <!-- <p class="leftTab" onclick="leftScroll()"><<</p> -->
                    <div class="childPic">
                      <a href=""><img src="/public/assets/doctor1.jpg" alt="doctor1" id="image1" class="child"></a>
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor2.png" id="image2" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor1.jpg" alt="doctor2" id="image3" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor2.png" alt="doctor2" id="image4" class="child">
                    </div>
                    <!-- <div class="child">
                      <img src="/public/assets/doctor1.jpg" alt="doctor2" id="image5" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor1.jpg" alt="doctor1" id="image6" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor2.png" id="image7" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor1.jpg" alt="doctor2" id="image8" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor2.png" alt="doctor2" id="image9" class="child">
                    </div>
                    <div class="child">
                      <img src="/public/assets/doctor1.jpg" alt="doctor2" id="image10" class="child">
                    </div> -->
                    <!-- <p class="rightTab" onclick="rightScroll()">>></p> -->
                  </div>
                </div>

                <hr>
                <br><br>
                <div class="appoint">
                  <div>
                    <p class="textAppoint">We are pleased to offer you the chance to have the healthy life</p>
                    <a href="./appointment.html"><input type="button" name="appointment" id="appoint" value="Get Appointment"></a>
                  </div>
                  <div class="imgAppoint">
                    <img src="../../../public/assets/doctor-nurses-special-equipment.jpg" alt="pic" class="doctors">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>footercontent</p>
      </div>
    </section>
  </div>
</body>

</html>




