<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patients Dashboard</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/patientCSS/patientDashboard.css">

</head>

<body>

  <%- include('../../common/newSidebar/patientSidebar.ejs') %>
    <div class="a2-patient-dashboard">
      <div class="a2-container">
        <h2>Home</h2>
        <div class="a2-patient-hero-section">
          
        </div>

      </div>
    </div>


</body>

</html>