<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Patients Dashboard</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
  <link rel="stylesheet" href="/css/patientCSS/patientDashboard.css" />
</head>

<body>
  <%- include('../../common/newSidebar/patientSidebar.ejs') %>
    <div class="a2-patient-dashboard">
      <div class="a2-container a2-patient-home">
        <div class="a2-patient-hero-section">
          <img src="/assets/patient-dashboard.jpg" alt="" />
          <div class="a2-patient-hero-text">
            <h3>Welcome</h3>
            <h2 class="a2-patient-name"></h2>
            <div>
              <p>Have't any idea about doctors? no problem !</p>
              <p>let's jumping to <b>"All Doctors"</b> section</p>
              <p>Track your past and future appointments history.</p>
              <p>
                Also find out the expected arrival time of your doctor or
                medical consultant.
              </p>
            </div>
          </div>
        </div>

        <div class="a2-status-booking">
          <div class="a2-patient-status">
            <div class="a2-card">
              <div class="card-itams">
                <span id="doctors-count"></span> All Doctors
              </div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams">
                <span id="patients-count"></span> All Patients
              </div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams">
                <span id="today-booking-count"></span> Today's Booking
              </div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams">
                <span id="total-booking-count"></span> My Total Booking
              </div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
          </div>

          <div class="a2-upcoming-booking">
            <h3>Your Upcoming Booking</h3>
            <div class="upcomming"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelector('.a2-patient-name').innerHTML = `${user.fname + " " + user.lname}`;



      async function getPatientData() {
        let resp = await fetch(`/patient-status/${user.id}`);
        let data = await resp.json();

        document.getElementById('doctors-count').innerHTML = data[0]?.doctorCount;
        document.getElementById('patients-count').innerHTML = data[1]?.patientCount;
        document.getElementById('today-booking-count').innerHTML = data[3]?.TodaysBooking;
        document.getElementById('total-booking-count').innerHTML = data[2]?.patientTotalBooking;

      }

      getPatientData();
    </script>
</body>

</html>