<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Profile</title>
  <link rel="stylesheet" href="../../../public/css/patientCSS/patientProfile.css">
</head>

<body>
  <div class="main">
    <section class="container">
      <div class="body">
        <div class="sideBar">
          <p class="side">content__sidebar</p>
        </div>
        <div class="full">
          <div class="header">
            <h3 class="textHeader">Patient Profile</h3>
            <a href="./patientProfile.html"><img src="../../../public/assets/profile.png" alt="profilePic" class="profilePic"></a>
          </div>
          <hr>
          <br>

          <section class="profile">
            <div class="details">
              <span class="user">Patient_name</span>
              &nbsp;
              <span class="user">#Patient_Id</span>

              <br><br>
              <div class="mainBody">
                <div class="left">
                  <div class="imageInfo">
                    <div class="img">
                      <img src="../../../public/assets/doctor1.jpg" alt="user1" class="userPic">
                    </div>
                    <div class="info">
                      <div>Name:</div>
                      <div>email:</div>
                    </div>
                  </div>
                  <div class="other">
                    <div class="general">
                      <div>Gender:</div>
                      <div>Phone:</div>
                      <div>DOB</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="displayAppointment">
                    <div class="myappoint"><b>My Appointments</b></div>
                    <div class="next">
                      <div class="upcoming"><u>Upcoming Appointments:</u>
                        <div class="data">
                          <a href="/views/pages/patientPanel/patientReview.html" onclick="myFunction()">
                            <div class="data1">
                              <div>#appoint_id</div>
                              <div>#doctor_id</div>
                              <div>date</div>
                              <div>time</div>
                              <div>status</div>
                            </div>
                          </a>
                          <a href="./home.html">
                            <div class="data2">
                              <div>#appoint_id</div>
                              <div>#doctor_id</div>
                              <div>date</div>
                              <div>time</div>
                              <div>status</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="last">
                      <div class="previous"><u>Past Appointments:</u>
                        <div class="pastData">
                          <a href="./home.html">
                            <div class="pastData1">
                              <div>#appoint_id</div>
                              <div>#doctor_id</div>
                              <div>date</div>
                              <div>time</div>
                              <div>status</div>
                            </div>
                          </a>
                          <a href="./home.html">
                            <div class="pastData2">
                              <div>#appoint_id</div>
                              <div>#doctor_id</div>
                              <div>date</div>
                              <div>time</div>
                              <div>status</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</body>

</html>