<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/doctorPanel/dashboard.css">
  <title>Document</title>
</head>

<body>

  <!-- Header -->
  <div class="a7-container">

    <div class="a7-header">
      <div class="a7-logo"><img src="./assets/logo1.png" alt=""></div>
      <div class="a7-doctor-banner">
        <h1>Welcome Dr name</h1>
      </div>
      <div class="a7-profile"><a href="./profile.html"><img src="./assets/profile.png" alt=""></a></div>
    </div>
  </div>


  <!-- Main -->
  <div class="a7-container">

    <div class="a7-doctor-pannel">

      <div class="a7-sidebar-nav">

        <div class="a7-navbar">
          <ul>
            <li><a href="">add slot</a></li>
            <li><a href="./viewslot.html">view slot</a></li>
            <li><a href="./viewpatient.html">view patient history</a></li>
            <li><a href="./viewpayment.html">view payment history</a></li>
            <li><a href="./viewfeedback.html">view feedback</a></li>
          </ul>
        </div>
      </div>
      <div class="a7-right-bar">

        <div class="a7-counter-section">
          <div class="a7-counter-card">
            <div class="a7-label">
              <h4>Total Appointments</h4>
            </div>
            <div class="a7-counter">
              <div class="a7-counter-1"><img src="./assets/total_appointment.png" alt=""></div>
              <div class="a7-label-count">
                <h4>120+</h4>
              </div>
            </div>
          </div>
          <div class="a7-counter-card">
            <div class="a7-label">
              <h4>Total Patients</h4>
            </div>
            <div class="a7-counter">
              <div class="a7-counter-2"><img src="./assets/total_patients.png" alt=""></div>
              <div class="a7-label-count">
                <h4>120+</h4>
              </div>
            </div>
          </div>
          <div class="a7-counter-card">
            <div class="a7-label">
              <h4>Total Revenue</h4>
            </div>
            <div class="a7-counter">
              <div class="a7-counter-3"><img src="./assets/revenue.png" alt=""></div>
              <div class="a7-label-count">
                <h4>120+</h4>
              </div>
            </div>
          </div>
        </div>

        <!-- Appointment -->
        <div class="a7-appointment-tbl">

          <div class="a7-table-row">
            <div class="a7-table-title">
              <span>Today Appointments</span>
            </div>
            <div class="a7-table-header">
              <span class="a7-table-border">Id</span>
              <span class="a7-table-border"> Patient Name </span>
              <span class="a7-table-border"> Appointment Time</span>
              <span class="a7-table-border"> Describe Prescription</span>
            </div>

            <div class="a7-table-data">
              <span class="a7-table-border">1</span>
              <span class="a7-table-border" style="padding: 0 25px;"> Yash </span>
              <span class="a7-table-border"> 9:00 to 9:30 </span>
              <span class="a7-table-border"> <span class="a7-pres-btn">View Patient History</span>
            </div>

            <div class="a7-table-data">
              <span class="a7-table-border">1</span>
              <span class="a7-table-border" style="padding: 0 25px;"> Yash </span>
              <span class="a7-table-border"> 9:00 to 9:30 </span>
              <span class="a7-table-border"> <span class="a7-pres-btn">View Patient History</span>
            </div>

            <div class="a7-table-data">
              <span class="a7-table-border">1</span>
              <span class="a7-table-border" style="padding: 0 25px;"> Yash </span>
              <span class="a7-table-border"> 9:00 to 9:30 </span>
              <span class="a7-table-border"> <span class="a7-pres-btn">View Patient History</span>
            </div>
          </div>
        </div>

        <!-- feedback -->
        <div class="a7-feedback">

          <div class="a7-feedback-section">
            <div class="a7-table-title">
              <span>Feedback</span>
            </div>
            <div class="a7-card">
              <div class="a7-card-se6">
                <div class="a7-card-box-se6">
                  <div class="a7-card-color-se6">
                    <div class="a7-profile-se6">
                      <img src="./assets/profile.png" alt="">
                    </div>
                    <!-- <div class="a7-rating-se6">
            <img src="assets/Star 2.png" alt="">
            <img src="assets/Star 2.png" alt="">
            <img src="assets/Star 2.png" alt="">
            <img src="assets/Star 2.png" alt="">
            <img src="assets/Star 2.png" alt="">
          </div> -->
                    <div class="a7-text-content-se6">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugit vel suscipit magnam?
                        Dignissimos aperiam repellendus voluptatem nihil, quas provident laborum consequatur obcaecati
                        quia dicta reprehenderit eum corporis sit assumenda!
                      </p>
                      <div class="a7-signature-se6">
                        <h3>Lorem</h3>
                        <p>Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="a7-card-se6">
                <div class="a7-card-box-se6">
                  <div class="a7-card-color-se6">
                    <div class="a7-profile-se6">
                      <img src="./assets/profile.png" alt="">
                    </div>
                    <!-- <div class="a7-rating-se6">
                  <img src="assets/Star 2.png" alt="">
                  <img src="assets/Star 2.png" alt="">
                  <img src="assets/Star 2.png" alt="">
                  <img src="assets/Star 2.png" alt="">
                  <img src="assets/Star 2.png" alt="">
                </div> -->
                    <div class="a7-text-content-se6">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugit vel suscipit magnam?
                        Dignissimos
                        aperiam repellendus voluptatem nihil, quas provident laborum consequatur obcaecati quia dicta
                        reprehenderit
                        eum corporis sit assumenda!
                      </p>
                      <div class="a7-signature-se6">
                        <h3>Lorem</h3>
                        <p>Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="a7-card-se6">
                <div class="a7-card-box-se6">
                  <div class="a7-card-color-se6">
                    <div class="a7-profile-se6">
                      <img src="./assets/profile.png" alt="">
                    </div>
                    <!-- <div class="a7-rating-se6">
                    <img src="assets/Star 2.png" alt="">
                    <img src="assets/Star 2.png" alt="">
                    <img src="assets/Star 2.png" alt="">
                    <img src="assets/Star 2.png" alt="">
                    <img src="assets/Star 2.png" alt="">
                  </div> -->
                    <div class="a7-text-content-se6">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugit vel suscipit magnam?
                        Dignissimos
                        aperiam repellendus voluptatem nihil, quas provident laborum consequatur obcaecati quia dicta
                        reprehenderit
                        eum corporis sit assumenda!
                      </p>
                      <div class="a7-signature-se6">
                        <h3>Lorem</h3>
                        <p>Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="a7-container">
<div class="a7-footer">
  <div class="a7-upper-section">
  <div class="a7-left-side-footer">
    <div class="a7-footer-header">
    <h3>Sal Hospital</h3></div>
    <div class="a7-footer-add">
    <h6>Address: </h6> 
      <p>Doordarshan Tower, SAL Hospital Cross roads, opposite Drive In Road, Nilmani Society, Thaltej, Ahmedabad, Gujarat 380054</p>
  </div></div>
  <div class="a7-right-side-footer"><a href="">http://localhost:8000</a></div>
 
</div>
<div class="a7-lower-section-footer">
  <p>Copyright &copy; 2024.Alpha team.</p>
  

</div>
</div>
</div> -->
</body>

</html>