<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <title>Document</title>
</head>

<body>

  <!-- Main -->

  <div class="a7-container">

    <%- include(`../../common/newSidebar/doctorSidebar.ejs`) %>

      <div class="a7-doctor-pannel ">
        <div class="a7-right-bar ">
          <div class="a7-counter-section">
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Appointments</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-1"><img src="/assets/doctorPanel/dtotal_appointment.png" alt=""></div>
                <div class="a7-label-count" id="appointment">
                  <!-- <h4>120+</h4> -->
                </div>
              </div>
            </div>
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Patients</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-2"><img src="/assets/doctorPanel/dtotal_patients.png" alt=""></div>
                <div class="a7-label-count" id="patient">
                  <!-- <h4>120+</h4> -->
                </div>
              </div>
            </div>
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Revenue</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-3"><img src="/assets/doctorPanel/drevenue.png" alt=""></div>
                <div class="a7-label-count" id="revenue">
                  <!-- <h4>120+</h4> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Appointment -->

          <div class="a7-appointment-tbl">

            <div class="a7-table-row">
              <div class="a7-table-title">
                <span>Today Appointments</span>
              </div>
              <div class="a7-tbl" id="appointmentTable">
              <div class="a7-table-header">
                <div><span >Sr No.</span></div>
                <div><span > Patient Name </span></div>
                <div><span > Appointment Time</span></div>
                <div><span > Describe Prescription</span></div>
              </div>
            </div>
            </div>
          </div>

          <!-- feedback -->
          <div class="a7-feedback">

            <div class="a7-feedback-section">
              <div class="a7-table-title">
                <span>Feedback</span>
              </div>
              <div class="a7-card" id="feedbackCard">


              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <script>
    const fetchCountData = async () => {
      const fetchData = await fetch(`/dashBoardCount`)
      const data = await fetchData.json()
      let key = Object.keys(data[0])
      key.forEach(element => {
        if (element == 'patient') {
          document.getElementById(element).innerHTML = `<h4>${data[0][element]}</h4>`
        }
        if (element == 'revenue') {
          document.getElementById(element).innerHTML = `<h4>${data[0][element]}</h4>`
        }

        if (element == 'slot') {
          document.getElementById("appointment").innerHTML = `<h4>${data[0][element]}</h4>`
        }
      });
    }
    fetchCountData()
    
    const fetchReviewData = async ()=>{

      const fetchData = await fetch(`/dashBoardReviews`)
      const data = await fetchData.json()
      let key = Object.keys(data)
      let feedbackCard = document.getElementById("feedbackCard")
     
      key.forEach(element => {
       
            let dtkey = Object.keys(data[element])

        let div1Card = document.createElement("div")
        div1Card.setAttribute("class", "a7-card-se6")
        let div2CardBox = document.createElement("div")
        div2CardBox.setAttribute("class", "a7-card-box-se6")
        let div3Color = document.createElement("div")
        div3Color.setAttribute("class", "a7-card-color-se6")
        let div4Profile = document.createElement("div")
        div4Profile.setAttribute("class", "a7-profile-se6")
        let div5Rating = document.createElement("div")
        div5Rating.setAttribute("class", "a7-rating-se6")
        let div6TextContent = document.createElement("div")
        div6TextContent.setAttribute("class", "a7-text-content-se6")
        let div7Signature = document.createElement("div")
        div7Signature.setAttribute("class", "a7-signature-se6")

            dtkey.forEach(item => {

            
                if (item == 'profile_picture') {
                 let imageProfile = document.createElement("img")
                 imageProfile.src = `/imgs/${data[element][item]}`
                    div4Profile.appendChild(imageProfile)
                }
                else if(item == 'rating'){
                
                  for(let i=0; i<5; i++)
                  {

                    if(i>= data[element][item]){
                         let img = document.createElement("img")
                         img.style.height="15px"
                         img.style.width="16px"
                      img.src = `/assets/doctorPanel/star-empty-icon.webp`

                      div5Rating.appendChild(img)
                    }
                    else{
                      let img = document.createElement("img")
                       img.style.height = "15px"
                      img.style.width = "16px"
                      img.src = `/assets/doctorPanel/images.png`
                      div5Rating.appendChild(img)
                    }
                
                  }
                }
                else if(item == "review"){
                  let para = document.createElement("p")
                  para.textContent = data[element][item]
                  div6TextContent.appendChild(para)
                }
                else if(item == "Name"){
                  let name = document.createElement("h3")
                  name.textContent =  data[element][item]
                  div7Signature.appendChild(name)
                }
                else if(item == "email"){
                    let email = document.createElement("p")
                    email.textContent = data[element][item]
                    div7Signature.appendChild(email)
                }
            });


            div3Color.appendChild(div4Profile)
            div3Color.appendChild(div5Rating)  
            div3Color.appendChild(div6TextContent)
            div3Color.appendChild(div7Signature)
            div2CardBox.appendChild(div3Color)
            div1Card.appendChild(div2CardBox)
            feedbackCard.appendChild(div1Card)


          });
        }
    
   
    fetchReviewData()

    const fetchAppointMents = async() =>{
        let fetchData = await fetch('/dashBoardAppointments')
        let data = await fetchData.json()
        let key = Object.keys(data)
        let count = 1;
        
      
        key.forEach(element => {
            let dtkey = Object.keys(data[element])
            let table = document.getElementById("appointmentTable")
            let div1 = document.createElement('div')
            let countdiv = document.createElement("div")
              countdiv.textContent = count++
              div1.appendChild(countdiv)
            div1.setAttribute("class","a7-table-data")
            dtkey.forEach(item => {
              if (item == 'patient_id') {
                let btn = document.createElement("div")
                btn.textContent = "Add Prescription"
                btn.setAttribute("id", "hh")
                btn.setAttribute("onclick", `location.href ='/prescription/${data[element][item]}'`)
                btn.setAttribute("class", "a7-btn-style a5-btn")
                div1.appendChild(btn)
              }else{
              
             let divspan = document.createElement("div")  
             let span =document.createElement('span')
             span.setAttribute("class","a7-table-border")
             span.textContent = data[element][item]
             divspan.appendChild(span)
             div1.appendChild(divspan)
             
             }
            });
 
            table.appendChild(div1)
        });
        }
  

     fetchAppointMents()
  </script>
</body>

</html>