<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
   <link rel="stylesheet" href="/css/Pagination/paginationComp.css" />
   
  <script src="/javascript/doctorPanel/doctorReview.js" defer></script>
  <title>view Feedback</title>
</head>

<body >

  <div class="a5-container">
    <%- include('../../common/newSidebar/doctorSidebar') %>
      <div class="a5-section">
        <div class="a5-search">
          <div class="a5-searchbox">
            <img src="/assets/adminPanel/icons/search.svg" alt="">
            <input type="text" name="searchUser" id="search" placeholder="Search Patient name" tabindex="1" >
          </div>
          <p id="a5-btn-search" tabindex="2"  >Search</p>
        </div>
          <div class="A4-Pagination-component">
          <div class="home"><button  id="homebtn"><<</button></div>
          <div class="previous"><button id="previousbtn"><</button></div>
          <div class="pagenumber"><p id="pageno">1</p></div>
          <div class="next"><button  id="nextbtn">></button></div>
          <div class="end"><button id="endbtn">>></button></div>
        </div> 

        <div class="a5-all-user">
          <h2>View Feedback</h2>

          <div class="a5-user-table"></div>
          <table id="a5-user-table">
            <tbody id="a5-tbody">
              <tr>
                <th>Name </th>
                <th>Rating</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
              <!-- fetch data database -->

            </tbody>
          </table>
        </div>
       </div>
  </div>
</body>
</html>