<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <script src="/javascript/doctorPanel/doctorReview.js" defer></script>
  <title>view Feedback</title>
</head>

<body>

  <div class="a5-container">
    <%- include('../../common/newSidebar/doctorSidebar') %>
      <div class="a5-section">
        <div class="a5-search">
          <div class="a5-searchbox">
            <img src="/assets/adminPanel/icons/search.svg" alt="">
            <input type="text" name="searchUser" id="a5-searchPatient" placeholder="Search Patient name" tabindex="1">
          </div>
          <p id="a5-btn-search" tabindex="2">Search</p>
        </div>

        <div class="a5-all-user">
          <h2>View Feedback</h2>

          <div class="a5-user-table"></div>
          <table id="a5-user-table">
            <tbody id="a5-tbody">
              <tr>

                <th>Name </th>
                <th>Rating</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
              <!-- fetch data database -->

            </tbody>
          </table>
        </div>
        <div class="a7-pagination">
          <span class="a5-btn a7-pagination-btn" id="firstpage">  << </span>
          <span class="a5-btn a7-pagination-btn" id="prevButton"> < </span>
          <span class="a5-btn a7-pagination-btn" id="pageno"> </span>
          <span class="a5-btn a7-pagination-btn" id="nextButton"> > </span>
          <span class="a5-btn a7-pagination-btn" id="lastpage"> >> </span>
        </div>
      </div>
  </div>
</body>
</html>