<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <script src="/javascript/doctorPanel/doctorDashboard.js" defer></script>
  <title>Dashboard</title>
</head>

<body>

  <!-- Main -->

  <div class="a7-container">

    <%- include(`../../common/newSidebar/doctorSidebar.ejs`) %>

      <div class="a7-doctor-pannel ">
        <div class="a7-right-bar ">
          <div class="a7-counter-section">
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Appointments</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-1"><img src="/assets/doctorPanel/dtotal_appointment.png" alt=""></div>
                <div class="a7-label-count" id="appointment">
                </div>
              </div>
            </div>
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Patients</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-2"><img src="/assets/doctorPanel/dtotal_patients.png" alt=""></div>
                <div class="a7-label-count" id="patient">
                 </div>
              </div>
            </div>
            <div class="a7-counter-card">
              <div class="a7-label">
                <h4>Total Revenue</h4>
              </div>
              <div class="a7-counter">
                <div class="a7-counter-3"><img src="/assets/doctorPanel/drevenue.png" alt=""></div>
                <div class="a7-label-count" id="revenue">
                 </div>
              </div>
            </div>
          </div>

          <!-- Appointment -->

          <div class="a7-appointment-tbl">

            <div class="a7-table-row">
              <div class="a7-table-title">
                <span>Today Appointments</span>
              </div>
              <div class="a7-tbl" id="appointmentTable">
              <div class="a7-table-header">
                <div><span >Sr No.</span></div>
                <div><span > Patient Name </span></div>
                <div><span > Appointment Time</span></div>
                <div><span > Describe Prescription</span></div>
              </div>
            </div>
            </div>
          </div>

          <!-- feedback -->
          <div class="a7-feedback">

            <div class="a7-feedback-section">
              <div class="a7-table-title">
                <span>Feedback</span>
              </div>
              <div class="a7-card" id="feedbackCard">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>