<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/patientsAllAppoinment.css">
  <!-- <link rel="stylesheet" href="/css/doctorPanel/dashboard.css">
  <link rel="stylesheet" href="/css/doctorPanel/profile.css"> -->
  <title>Document</title>
</head>

<body>

        <div class="a7-feedback-table-row">
          <div class="a7-feedback-title">
            <div>View Patient History</div>
          </div>
          <table id="rowtable">
            <tr class="a7-feedback-table-header">
              <td><span>Name</span> </td>
              <td><span>Contact</span></td>
              <td><span>More Details</span></td>
            </tr>
          </table>
        </div>


  <script>

    const fetchData = async () => {
      let fetchdata = await fetch(`/getPatientData`)
      let data = await fetchdata.json()
      let patient_id = 1
      let key = Object.keys(data)
      let table = document.getElementById("rowtable")
      key.forEach(item => {
        const dtkey = Object.keys(data[item])
        let tr = document.createElement("tr")
        tr.setAttribute("class","a7-feedback-table-data")
        dtkey.forEach(ele => {
          let td = document.createElement("td")
          let span = document.createElement("span")
          if(ele == "patient_id")
          {
              td.style.display = 'none'
              patient_id = data[item][ele]
            span.innerText = data[item][ele]
          }
          else
          {
             span.innerText = data[item][ele]
          }
          td.appendChild(span)
          tr.appendChild(td)
        })
       
        let btntd = document.createElement("td")
        let anchortag = document.createElement("a")
            btntd.append(anchortag)
            anchortag.setAttribute("class","a7-view-btn")
            anchortag.textContent = `View More`
            anchortag.href = `/viewPatientHistory/${patient_id}`
            tr.appendChild(btntd)
            table.appendChild(tr)
      });
    }
    fetchData()
  </script>
</body>

<!-- <script src="/javascript/doctorPanel/urlPath.js"></script> -->
<script src="/javascript/doctorPanel/sidebar.js"></script>
<script src="/javascript/doctorPanel/patientHistory.js"></script>

</html>