<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <link rel="stylesheet" href="/css/doctorPanel/viewfeedback.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <title>view Patient History</title>
</head>

<body>
  <div class="a7-container">
    <%- include('../../common/newSidebar/doctorSidebar.ejs') %>
      <div class="a7-appointment-tbl a7-mr-300">

        <div class="a7-feedback-table-row">
          <div class="a7-feedback-title">
            <div>View Patient History</div>
          </div>
          <table>

            <tr class="a7-feedback-table-header">
              <td><span>Name</span> </td>
              <td><span>Contact</span></td>
              <td><span>More Details</span></td>
            </tr>
            <!-- Fetch data database -->
            <tr class="a7-feedback-table-data" id="rowdata"> </tr>

          </table>
        </div>
      </div>
  </div>
  

  <script>

    const fetchData = async () => {
      let fetchdata = await fetch(`http://localhost:8000/getPatientData/`)
      let data = await fetchdata.json()
      let key = Object.keys(data[0])
      let pat
      key.forEach(element => {

        if (element == 'patient_id') {
          pat = data[0][element]
          document.getElementById("rowdata").innerHTML += `<td hidden><span>${data[0][element]}</span></td>`

        }
        else {
          let tddata = document.createElement("td")
          let span = document.createElement("span")
          span.textContent = data[0][element]
          tddata.append(span)
          document.getElementById("rowdata").append(tddata)
        }
      });
      document.getElementById("rowdata").innerHTML += `<td> <a href='http://localhost:8000/viewPatientHistory/${pat}' class="a7-view-btn"  >View More</a>  </td>`
    }
    fetchData()
  </script>
</body>

</html>