<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/allPatientDetails.css">
  <link rel="stylesheet" href="/css/doctorPanel/a7dashboard.css">
  <title>view Feedback</title>
</head>

<body>

  <div class="a5-container">
    <%- include('../../common/newSidebar/doctorSidebar') %>
      <div class="a5-section">
        <div class="a5-search">
          <div class="a5-searchbox">
            <img src="/assets/adminPanel/icons/search.svg" alt="">
            <input type="text" name="searchUser" id="a5-searchPatient" placeholder="Search Patient name" tabindex="1">
          </div>
          <p id="a5-btn-search" tabindex="2">Search</p>
        </div>

        <div class="a5-all-user">
          <h2>View Feedback</h2>

          <div class="a5-user-table"></div>
          <table id="a5-user-table">
            <tbody id="a5-tbody">
              <tr>

                <th>Name </th>
                <th>Rating</th>
                <th>Message</th>
                <th>Date</th>
              </tr>
              <!-- fetch data database -->

            </tbody>
          </table>
        </div>
        <div class="a7-pagination">
          <span class="a5-btn a7-pagination-btn" id="firstpage">  << </span>
              <span class="a5-btn a7-pagination-btn" id="prevButton"> < </span>
                  <span class="a5-btn a7-pagination-btn" id="pageno"> </span>
                  <span class="a5-btn a7-pagination-btn" id="nextButton"> > </span>
                  <span class="a5-btn a7-pagination-btn" id="lastpage"> >> </span>
        </div>
      </div>
  </div>

  <script>
    let pagefield = 1
    let currentPage = 1
    let length = 0
    let pageno = document.getElementById("pageno")

    const fetchDataFun = async () => {
      let fetchdata = await fetch(`http://localhost:8000/reviews`)
      let data = await fetchdata.json()
      return data
    }

    const pagination = async () => {
      let data = await fetchDataFun()
      length = data.length;
      pageno.innerHTML = currentPage;

      const endIndex = currentPage * pagefield;
      const startIndex = endIndex - pagefield;
      const pageItems = data.slice(startIndex, endIndex);

      let tabledata = "";

      pageItems.map((value, index) => {
        tabledata += `<tr>
          
          <td hidden>${value.date}</td>
          <td>${value.name}</td>
          <td>${value.rating}</td>
          <td>${value.review}</td>
          <td>${value.date}</td>
        </tr>`
      })

      document.getElementById("a5-tbody").innerHTML += tabledata;

    }

    const removeFun = async () => {
      document.getElementById("a5-tbody").innerHTML = `<tr>
                  <th>Name </th>
                <th>Rating</th>
                <th>Message</th>
                <th>Date</th>
                </tr>`
    }


    function firstpageFun() {
      currentPage = 1;
      pagination()
      removeFun()
      if (currentPage != length / pagefield) {
        document.getElementById('lastpage').disabled = false;
        document.getElementById('nextButton').disabled = false;
      }
      if (currentPage == 1) {
        document.getElementById('firstpage').disabled = true
        document.getElementById('prevButton').disabled = true
      }

    }

    function prevButtonFun() {
      if (currentPage > 1) {
        currentPage--;
        pagination()
        removeFun()
        document.getElementById('lastpage')

      }
      if (currentPage != length / pagefield) {
        document.getElementById('lastpage').disabled = false;
        document.getElementById('nextButton').disabled = false;
      }
      if (currentPage == 1) {
        document.getElementById('firstpage').disabled = true
        document.getElementById('prevButton').disabled = true
      }
    }

    function nextButtonFun() {
      if ((currentPage * pagefield) < length) {
        currentPage++;
      }
      if (currentPage != 1) {
        document.getElementById('firstpage').disabled = false;
        document.getElementById('prevButton').disabled = false;
      }
      lastpage = Math.ceil(length / pagefield);
      if (currentPage == lastpage) {
        document.getElementById('lastpage').disabled = true
        document.getElementById('nextButton').disabled = true
      }
      pagination()
      removeFun()
    }

    function lastpageFun() {
      lastpage = Math.ceil(length / pagefield);
      currentPage = lastpage
      pagination()
      removeFun()
      if (currentPage != 1) {
        document.getElementById('firstpage').disabled = false;
        document.getElementById('prevButton').disabled = false;

        if (currentPage == lastpage) {
          document.getElementById('lastpage').disabled = true
          document.getElementById('nextButton').disabled = true
        }
      };
    }

    document.querySelector('#firstpage').addEventListener("click", firstpageFun)
    document.querySelector('#lastpage').addEventListener("click", lastpageFun)
    document.querySelector('#prevButton').addEventListener("click", prevButtonFun)
    document.querySelector('#nextButton').addEventListener("click", nextButtonFun)
    pagination()
  </script>
</body>
</html>