<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/dashboard.css">
  <link rel="stylesheet" href="./css/viewfeedback.css">
  <title>view Feedback</title>
</head>

<body>

  <div class="a7-container">

    <div class="a7-header">
      <div class="a7-logo"><img src="./assets/logo1.png" alt=""></div>
      <div class="a7-doctor-banner">
        <h1>Welcome Dr name</h1>
      </div>
      <div class="a7-profile"><a href="./profile.html"><img src="./assets/profile.png" alt=""></a></div>
    </div>
  </div>

  <div class="a7-appointment-tbl">

    <div class="a7-feedback-table-row">
      <div class="a7-feedback-title">
        <div>View Patient History</div>
      </div>
      <table>

        <tr class="a7-feedback-table-header">
          <td><span>Firstname</span> </td>
          <td><span>Lastname</span></td>
          <td><span>Email</span></td>
          <td><span>Gender</span></td>
          <td><span>Date of Birth</span></td>
          <td><span>Contact</span></td>
          <td><span>More Details</span></td>
        </tr>

        <tr class="a7-feedback-table-data">
          <td><span>Yash</span> </td>
          <td><span> Babaria</span> </td>
          <td><span>yash@gmail.com</span> </td>
          <td><span>male </span> </td>
          <td> <span>2024-04-01</span></td>
          <td><span>9898802790</span> </td>
          <td > <a href="" class="a7-view-btn" >View More</a> </td>
        </tr>
        <tr class="a7-feedback-table-data">
          <td><span>Yash</span> </td>
          <td><span> Babaria</span> </td>
          <td><span>yash@gmail.com</span> </td>
          <td><span>male </span> </td>
          <td> <span>2024-04-01</span></td>
          <td><span>9898802790</span> </td>
          <td > <a href="" class="a7-view-btn">View More</a> </td>
        </tr>
        <tr class="a7-feedback-table-data">
          <td><span>Yash</span> </td>
          <td><span> Babaria</span> </td>
          <td><span>yash@gmail.com</span> </td>
          <td><span>male </span> </td>
          <td> <span>2024-04-01</span></td>
          <td><span>9898802790</span> </td>
          <td > <a href="" class="a7-view-btn">View More</a> </td>
        </tr>
      </table>
    </div>
    </div>
</body>

</html>