<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/doctorPanel/dashboard.css">
  <link rel="stylesheet" href="/css/doctorPanel/viewfeedback.css">
  <title>view Feedback</title>
</head>

<body>

 

  <div class="a7-appointment-tbl">

    <div class="a7-feedback-table-row">
      <div class="a7-feedback-title">
        <div>View Feedback</div>
      </div>
      <table>

        <tr class="a7-feedback-table-header">
          <td><span>Name</span> </td>
          <td><span>Rating</span></td>
          <td><span>Message</span></td>
          <td><span>Date</span></td>
        </tr>

        <tr class="a7-feedback-table-data" id="rowdata">
        
        </tr>
       
        
      </table>
    </div></div>
    <script src="/javascript/doctorPanel/urlPath.js"></script>
    <script>
        const fetchDataFun = async()=>{

          let fetchdata = await fetch(`http://localhost:8000/reviews/${Id}`) 
          let data = await fetchdata.json()
        console.log(data);
          let key = Object.keys(data[0])
          key.forEach(element => {
              let tddata = document.createElement("td")
              tddata.innerHTML = data[0][element]
              document.getElementById("rowdata").append(tddata)
          });
        }

        fetchDataFun()
    </script>
</body>
</html>