<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/doctorPanel/viewfeedback.css">
  <link rel="stylesheet" href="/css/doctorPanel/dashboard.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <title>View Payment</title>
</head>
<body>

<div class="a7-container">
  <%- include('../../common/newSidebar/doctorSidebar.ejs') %>
  <div class="a7-appointment-tbl a7-mr-300">

    <div class="a7-feedback-table-row">
      <div class="a7-feedback-title">
        <div>View Payment History</div>
      </div>
      <table>

        <tr class="a7-feedback-table-header">
         
          <td><span>Name</span> </td>
          <td><span>Payment Amount</span></td>
          <td><span>Slot Time</span></td>
          <td><span>Slot Date</span></td>
          <td><span>Payment Date</span></td>
        </tr>
        <!-- fetch data using AJAX  -->
        <tr class="a7-feedback-table-data" id="rowdata"></tr>
        
      
      </table>
    </div></div>
    </div>
    <script src="/javascript/doctorPanel/urlPath.js"></script>
    <script src="/javascript/doctorPanel/sidebar.js"></script>
    <script>
          const fetchPaymentData = async() =>{
              const fetchdata = await fetch(`http://localhost:8000/doctorPaymentData/`)
              const data = await fetchdata.json()
              let key = Object.keys(data[0])
              key.forEach(element => {
                console.log(element);
                    let tddata = document.createElement("td")
                    let span = document.createElement("span")
                    span.innerHTML = data[0][element]
                    tddata.append(span)
                    document.getElementById("rowdata").appendChild(tddata)
              });
          }
          fetchPaymentData( )
    </script>
</body>
</html>