<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Done</title>
</head>

<body>
  <h1>Task Done</h1>

  <ul>

    <br>
    <li>createHospital</li>

    <br>
    <li>doctorController</li>

    <br>
    <li>doctorSpecialitiesController</li>

    <br>
    <li>nearByDoctorsController</li>

    <br>
    <li>prescriptionController</li>

    <br>
    <li>ratingController</li>

    <br>
    <li>slotController</li>

    <br>
    <li>userController</li>
  </ul>

</body>

</html>