* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* container css */

.a5-container{
  max-width: 1280px;
  margin: 0 auto;
}

.main{
  margin-left: 350px;
  padding: 10px;
}

.booking-page{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.doctor-profile{
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.doctor-img{
  width: 160px;
  height: 200px;
  overflow: hidden;
  border:1px solid rgb(202, 182, 144);
  padding: 3px;
}

.doctor-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctor-details{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.doctor-details p {
  color: rgb(88, 88, 88);
}

.doctor-details span{
  font-weight: bold;
  color: black;
  /* font-size: 19px; */
}

#review-count{
  font-size: 14px;
  font-weight: normal;
}

/* booking part */

.appointmentForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.appointmentForm .inputs{
  display: flex;
  align-items: center;
  gap: 40px;
}

.appointmentForm .dvalid {
  background: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
}

.date,.appointments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.label {
  font-weight: bold;
}

#date {
  display: block;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.time {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.time div input {
  background: transparent;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 5px;
}



.submit {
  background-color: #aee3ff;
  border: none;
  padding: 8px 26px;
  border-radius: 3px;
  font-size: 17px;
}

.submit:hover {
  background-color: rgb(41, 205, 255);
  color: white;
  cursor: pointer;
}