:root {
  --light-blue: #d2ebf9;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.a2-container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.a2-patient-dashboard {
  margin-left: 350px;
  /* margin-top: 30px; */
}

.a2-patient-home{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.a2-patient-hero-section {
  position: relative;
  margin-top: 20px;
}

.a2-patient-hero-section img {
  max-width: 900px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.a2-patient-hero-text {
  margin-top: 20px;
  padding-left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;

  top: 0;
}

.a2-patient-hero-text p {
  margin: 10px 0;
}

.a2-patient-hero-text input {
  width: 50%;
  padding: 5px;
  border-radius: 2px;


}

.a2-btn {
  border-radius: 2px;
  color: var(--white);
  background-color: var(--blue);
}

.a2-search-doctors {
  display: flex;
  gap: 20px;
}

.a2-status-booking {
  display: flex;
  align-items: flex-start;
  /* gap: 30px; */
  /* flex-wrap: wrap; */
}

.a2-patient-status {
  max-width: 400px;
  width: 100%;

}


.a2-patient-status {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.a2-card {

  display: flex;
  align-items: center;

  width: 40%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--brown);
}

.card-itams {
  padding: 0 5px 10px 5px;
  display: flex;
  flex-direction: column;
}

.card-itams i {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--brown);
}

.a2-upcoming-booking {
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--brown);
  height: 200px;
  padding: 10px;
}