:root {
  --light-blue: #b3d3ea;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
}
.A4-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}

.A4-title {
  padding: 55px 418px;
  h1 {
    /* text-align: center; */
    font-size: 30px;
  }
}
/* .A4-Content {
  padding: 1px 292px;
  font-size: 22px;
  td {
    height: 60px;
    width: 418px;
    word-wrap: anywhere;
  }
} */
.A4-Content {
  padding: 0px 211px;
  font-size: 20px;
  table,
  tr,
  th,
  td {
    border-radius: 5px;
    padding: 5px;
  }
  td {
    height: 40px;
    word-wrap: anywhere;
  }
}
.A4-table-title {
  width: 300px;
  background-color: rgb(219, 236, 250);
}
table {
  background-color: aliceblue;
}

.A4-table-content {
  width: 700px;
  background-color: white;
}
.A4-prescription {
  padding: 65px 439px;
}
.A4-addPrescription {
  height: 50px;
  width: 211px;
  font-size: 16px;
  background-color: var(--light-blue);
  color: #2c5777;
  border-radius: 7px;
}
.A4-addPrescription:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.A4-addPrescription:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.A4-main {
  display: block;
  padding-left: 350px;
}
/* //add prescrption */
.A4-submitBtn {
  padding: 40px 274px;
}
.A4-submitbtn {
  height: 50px;
  width: 211px;
  font-size: 16px;
  background-color: var(--light-blue);
  color: #2c5777;
  border-radius: 7px;
}
.A4-submitbtn:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.A4-GetPdf {
  padding: 0px 274px;
}
.A4-Getpdf {
  height: 50px;
  width: 211px;
  font-size: 18px;
  background-color: var(--light-blue);
  color: #2c5777;
  border-radius: 7px;
}
.A4-Getpdf:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.A4-PrescriptionDetails {
  font-size: 20px;
  /* padding: 75px 194px; */
  padding: 71px 134px;
}
#diagnosis {
  width: 372px;
  height: 34px;
  font-size: 18px;
}
#prescription {
  font-size: 18px;
}
#myForm {
  background-color: aliceblue;
  padding: 22px;
  border-radius: 22px;
}
#prescriptionerror {
  font-size: 14px;
  color: red;
}
