<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin Approve Doctors</title>

  <link rel="stylesheet" href="/css/sideBar/sidebar.css" />
  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">

</head>


<body>



  <%- include('../../common/adminSideBar') %>

    <div class="a2-approve-table-div">
      <div class="container">
        <p class="a2-back-btn a2-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

        <h2 class="a2-approve-h2">All Doctors Specialties</h2>

        <table class="a2-approve-table">
          <tr class="approve-tbl-head">

            <th>No.</th>
            <th>Specialty Name</th>

          </tr>

          <tbody>
            <tr>
              <td>1</td>
              <td>ABC</td>
            </tr>
            <tr>
              <td>1</td>
              <td>ABC</td>
            </tr>
            <tr>
              <td>1</td>
              <td>ABC</td>
            </tr>
          </tbody>
        </table>

        <div class="a2-add-spclt-btn">
          <p class="a2-btn a2-add-spclt-btn" onclick="addNewSpecialty()">Add</p>
        </div>


        <form action="" method="post">

          <div id="a2-form-id" class="a2-form a2-add-specialty">
            <div class="a2-specialties">
              <label for="specialties">New Doctor Specialties : </label>
              <input type="text" id="specialties" name="specialties">
            </div>
          </div>

          <input type="submit" value="Add Specialties" class="a2-btn a2-submit-specialties">
        </form>



      </div>
    </div>


    <script>
      function addNewSpecialty() {
        let form = document.getElementById('a2-form-id');
        let str = `
        <div class="a2-specialties">
              <label for="specialties">New Doctor Specialties : </label>
              <input type="text" name="specialties">
        </div>`;

        form.innerHTML += str;
      }
    </script>
</body>

</html>