<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/adminDashboard.css">


</head>

<body onload="fetchStatus()">

  <%- include('../../common/newSidebar/adminSidebar.ejs') %>
    <div class="a2-amdin-dashboard">
      <div class="a2-container">

        <div class="a2-dashboard-status">
          <h2>Status</h2>
          <div class="a2-dashboard-status-cards">
            <div class="a2-card">
              <div class="card-itams"><span id="doctors-count" class="a5-center"></span> Doctors</div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="patients-count" class="a5-center"></span> Patients</div>
              <div class="card-itams">
                <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="appointments-count" class="a5-center"></span> Todays Appointments</div>
              <div class="card-itams">
                <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="revenue-count" class="a5-center"></span> Total Revenue</div>
              <div class="card-itams">
                <i class="fa-solid fa-award a5-list-item-img"></i>
              </div>
            </div>
          </div>
        </div>


        <div>
          <h3>Best Performance Doctors</h3>
          <div class="a2-best-doctor-scroll">
            <p class="a2-btn-admin">left</p>
            <p class="a2-btn-admin">rigth</p>
          </div>

          <div class="a2-best-performance-doctors">

            <div class="a2-doctor-profile">
              <div class="a2-doctor-img">
                <img src="/assets/doctor2.png" alt="doctor photo">
              </div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name">Ashish Zapadiya</h3>
                <p class="a2-doctor-specialty">Neurology</p>
              </div>
            </div>
            
            <div class="a2-doctor-profile">
              <div class="a2-doctor-img">
                <img src="/assets/doctor2.png" alt="doctor photo">
              </div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name">Ashish Zapadiya</h3>
                <p class="a2-doctor-specialty">Neurology</p>

              </div>
            </div>
            <div class="a2-doctor-profile">
              <div class="a2-doctor-img">
                <img src="/assets/doctor2.png" alt="doctor photo">
              </div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name">Ashish Zapadiya</h3>
                <p class="a2-doctor-specialty">Neurology</p>

              </div>
            </div>

          </div>
        </div>


        <!-- revies panel -->
        <div class="a2-admin-reviews">
          <!-- from main home page -->

        </div>

      </div>
    </div>




</body>

<script>

  async function fetchStatus() {
    try {

      const url = `http://localhost:8000/getDashboardStatus`;
      const response = await fetch(url);
      const result = await response.json();
      console.log(result);

      document.getElementById('doctors-count').innerHTML = result.totalDoctor[0].total_doctor + "+";
      document.getElementById('patients-count').innerHTML = result.totalPatient[0].total_patient + "+";
      document.getElementById('appointments-count').innerHTML = result.todayAppointment[0].today_appointment + "+";
      document.getElementById('revenue-count').innerHTML = result.totalRevenue[0].total_revenue + "+";

    } catch (error) {
      console.log(error);
    }
  }

</script>

</html>