<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">

  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">

</head>

<body>
  
  <%- include('../../common/newSidebar/adminSidebar.ejs') %>

    <div class="a2-approve-table-div">
      <p class="a2-back-btn a2-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

      <h2 class="a2-approve-h2">Show all patirents</h2>

      <table class="a2-approve-table">
        <tr class="approve-tbl-head">
          <div class="bottom">
            <th>ID</th>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Specialties</th>
            <th>Status</th>
          </div>
        </tr>

        <tbody>
          <div class="border"></div>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a2-btn">View</p>
            </td>
          </tr>

        </tbody>


      </table>


    </div>

</body>

</html>