<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>

  <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/adminPanel/adminPage.css">

  <script src="./adminPage.js" defer></script>
</head>

<body>

  <div class="a1-sidebar">
    <h1>Admin Panel</h1>
    <h1>sidebar</h1>
  </div>

  <div class="a2-approve-table-div">
    <p class="a1-back-btn a1-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

    <h2 class="a2-approve-h2">Approve new Doctors</h2>

    <h4 class="a2-approve-h4">All Doctors (8) </h4>

    <table class="a2-approve-table">
      <tr class="approve-tbl-head">
        <div class="bottom">
          <th>ID</th>
          <th>Doctor Name</th>
          <th>Email</th>
          <th>Specialties</th>
          <th>Status</th>
        </div>
      </tr>

      <tbody>
        <div class="border"></div>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>
        <tr>
          <td>1.</td>
          <td>ABC</td>
          <td>abc@abc.com</td>
          <td>neurologists</td>
          <td>
            <p class="a1-btn">Approve</p>
          </td>
        </tr>

      </tbody>


    </table>


  </div>

</body>

</html>