<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/css/adminPanel/adminDashboard.css">


</head>

<body>

  <%- include('../../common/newSidebar/adminSidebar.ejs') %>
    <div class="a2-amdin-dashboard">
      <div class="a2-container">

        <div class="a2-dashboard-status">
          <h2>Status</h2>
          <div class="a2-dashboard-status-cards">
            <div class="a2-card">
              <div class="card-itams"><span id="doctors-count">10+</span> Doctors</div>
              <div class="card-itams">
                <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="patients-count">100+</span> Patients</div>
              <div class="card-itams">
                <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="appointments-count">10+</span> Todays Appointments</div>
              <div class="card-itams">
                <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
              </div>
            </div>
            <div class="a2-card">
              <div class="card-itams"><span id="revenue-count">20 M</span> Total Revenue</div>
              <div class="card-itams">
                <i class="fa-solid fa-award a5-list-item-img"></i>
              </div>
            </div>
          </div>
        </div>


        <div>
          <h3>Best Performance Doctors</h3>
          <div class="a2-best-doctor-scroll">
            <p class="a2-btn">left</p>
            <p class="a2-btn">rigth</p>
          </div>
          <div class="a2-best-performance-doctors">

            <div class="a2-doctor-profile">
              <div class="a2-doctor-img"></div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name"></h3>
                <p class="a2-doctor-specialty"></p>
              </div>
            </div>
            <div class="a2-doctor-profile">
              <div class="a2-doctor-img"></div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name"></h3>
                <p class="a2-doctor-specialty"></p>
              </div>
            </div>
            <div class="a2-doctor-profile">
              <div class="a2-doctor-img"></div>
              <div class="a2-doctor-details">
                <h3 class="a2-doctor-name"></h3>
                <p class="a2-doctor-specialty"></p>
              </div>
            </div>

          </div>
        </div>


        <!-- revies panel -->
        <div class="a2-admin-reviews">
          <!-- from main home page -->

        </div>

      </div>
    </div>


    <script>
      const doctorsCount = document.getElementById('doctors-count');
      const patientsCount = document.getElementById('patients-count');
      const appointmentsCount = document.getElementById('appointments-count');
      const revenueCount = document.getElementById('revenue-count');


    </script>

</body>

</html>