<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin Approve Doctors</title>

  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/sideBar/newSidebar.css">

  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">

</head>

<body>

  <!-- <div class="a2-sidebar">
    <h1>Admin Panel</h1>
    <h1>sidebar</h1>
  </div> -->

  <%- include('../../common/newSidebar/adminSidebar.ejs') %>

    <div class="a2-approve-table-div">
      <div class="container">
        <p class="a2-back-btn a2-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

        <h2 class="a2-approve-h2">Approve new Doctors</h2>

        <h4 class="a2-approve-h4">All Doctors <span id="total-pending-doc"></span></h4>

        <table class="a2-approve-table">
          <tr class="approve-tbl-head">

            <th>ID</th>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>qualification</th>
            <th>Status</th>

          </tr>

          <tbody id="approve-tbl-body"></tbody>

        </table>

      </div>
    </div>


    <script>

      async function getPendingDoc() {

        let resp = await fetch('/get-pending-doctor');

        let allPendingDoctors = await resp.json();
        document.getElementById('total-pending-doc').innerHTML = `(${allPendingDoctors.length})`


        const tbody = document.getElementById('approve-tbl-body');
        allPendingDoctors.forEach(doc => {

          let str = `<tr>
            <td>${doc.id}</td>
            <td>${doc.doctor_name}</td>
            <td>${doc.email}</td>
            <td>${doc.qualification}</td>
            <td class="a2-btn" onclick="approveDoc(${doc.id})">Approve</td>
          </tr>`;

          tbody.innerHTML += str
        });
      }

      getPendingDoc()

      async function approveDoc(id) {
        location.href = `/individual-doctor/${id}`;
      }
    </script>
</body>

</html>