<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin delete Doctors</title>

  <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/sideBar/sidebar.css" />
  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">


</head>

<body>


  <%- include('../../common/adminSideBar') %>

    <div class="a2-approve-table-div">
      <div class="container">
        <p class="a2-back-btn a2-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

        <h2 class="a2-approve-h2">All Doctors <span id="all-doctors-count"></span></h2>


        <table class="a2-approve-table">
          <tr class="approve-tbl-head">

            <th>ID</th>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Qualification</th>
            <th>Status</th>

          </tr>

          <tbody id="get-all-doctors"></tbody>

        </table>


      </div>
    </div>

    <script>

      async function getAllDoctors() {

        const resp = await fetch('/get-all-doctors');

        const data = await resp.json();

        document.getElementById('all-doctors-count').innerHTML = ` (${data.length})`
        const tbody = document.getElementById('get-all-doctors');

        data.forEach(doc => {
          let tds = `<tr>
          <td>${doc.doctor_id}</td>
          <td>${doc.fname} ${doc.lname}</td>
          <td>${doc.email}</td>
          <td>${doc.qualification}</td>
          <td><p class="a2-btn" onclick="deleteDoctor(${doc.doctor_id})">Delete</p></td>
          </tr>`;

          tbody.innerHTML += tds;
        });



      }
      getAllDoctors()



      async function deleteDoctor(id) {
        let resp = await fetch(`/delete-doctor/${id}`);
        location.reload()
      }


    </script>
</body>

</html>