<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin delete Doctors</title>

  <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/sideBar/sidebar.css" />
  <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css">

  
</head>

<body>
  
  <!-- <div class="a2-sidebar">
    <h1>Admin Panel</h1>
    <h1>sidebar</h1>
  </div> -->

  <%- include('../../common/adminSideBar') %>
  <%# include('../../common/doctorSideBar') %>
  <%# include('../../common/patientSideBar') %>

    <div class="a2-approve-table-div">

      <p class="a2-back-btn a1-btn"><img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>

      <h2 class="a2-approve-h2">Delete Doctors</h2>

      <h4 class="a2-approve-h4">All Doctors (100+) </h4>

      <table class="a2-approve-table">
        <tr class="approve-tbl-head">
          <div class="bottom">
            <th>ID</th>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Specialties</th>
            <th>Status</th>
          </div>
        </tr>

        <tbody>
          <div class="border"></div>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>
          <tr>
            <td>1.</td>
            <td>ABC</td>
            <td>abc@abc.com</td>
            <td>neurologists</td>
            <td>
              <p class="a1-btn">Delete</p>
            </td>
          </tr>

        </tbody>


      </table>


    </div>

</body>

</html>