<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin Approve Doctors</title>

    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
    <link rel="stylesheet" href="/css/adminPanel/adminApproveDoc.css" />
  </head>

  <body>
    <div class="main-container">
      <%- include('../../common/newSidebar/adminSidebar.ejs') %>

      <div class="a2-approve-table-div">
        <div class="a2-container">
          <a href="/admin" style="text-decoration: none; color: black">
            <p class="a2-back-btn a2-btn">
              <img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back" />
              Back
            </p>
          </a>

          <div class="doctor-panel">
            <h3 class="a2-approve-h2">
              Pending Request <span id="total-pending-doc"></span>
            </h3>
            <h3 class="a2-all-doctors-panel">
              All Doctors <span id="all-doctors-count"></span>
            </h3>
            <h3 class="a2-reject-doc-panel">
              Rejected Doctors <span id="total-rejected-doc"></span>
            </h3>
          </div>

          <div class="pending-doctors">
            <table class="a2-approve-table">
              <tr class="approve-tbl-head">
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Status</th>
              </tr>

              <tbody id="approve-tbl-body"></tbody>
            </table>
          </div>

          <div class="all-doctors">
            <table class="a2-approve-table">
              <tr class="approve-tbl-head">
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Status</th>
              </tr>

              <tbody id="get-all-doctors"></tbody>
            </table>
          </div>

          <div class="a2-rejected-doctors">
            <table class="a2-approve-table">
              <tr class="approve-tbl-head">
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Email</th>
                <th>Qualification</th>
                <th>Status</th>
              </tr>

              <tbody id="a2-rejected-doctors-tbody"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      const requestH2 = document.querySelector(".a2-approve-h2");
      const allDoctorsH2 = document.querySelector(".a2-all-doctors-panel");
      const rejectedDoctorsH2 = document.querySelector(".a2-reject-doc-panel");

      const requestDiv = document.querySelector(".pending-doctors");
      const allDoctorsDiv = document.querySelector(".all-doctors");
      const rejectedDoctorsDiv = document.querySelector(".a2-rejected-doctors");

      allDoctorsDiv.style.display = "none";
      rejectedDoctorsDiv.style.display = "none";

      requestH2.addEventListener("click", () => {
        allDoctorsDiv.style.display = "none";
        rejectedDoctorsDiv.style.display = "none";
        requestDiv.style.display = "block";
      });

      allDoctorsH2.addEventListener("click", () => {
        requestDiv.style.display = "none";
        rejectedDoctorsDiv.style.display = "none";
        allDoctorsDiv.style.display = "block";
      });

      rejectedDoctorsH2.addEventListener("click", () => {
        requestDiv.style.display = "none";
        allDoctorsDiv.style.display = "none";
        rejectedDoctorsDiv.style.display = "block";
      });
    </script>

    <script>
      async function getAllDoctors() {
        const resp = await fetch("/get-all-doctors");

        const data = await resp.json();

        let allPendingDoctors = data.filter((e) => {
          return e.approved === 0 ? e : false;
        });

        let allDoctors = data.filter((e) => {
          return e.approved === 1 ? e : false;
        });

        let rejectedDoctors = data.filter((e) => {
          return e.approved === -1 ? e : false;
        });

        document.getElementById(
          "total-pending-doc"
        ).innerHTML = `(${allPendingDoctors.length})`;
        document.getElementById(
          "all-doctors-count"
        ).innerHTML = ` (${allDoctors.length})`;
        document.getElementById(
          "total-rejected-doc"
        ).innerHTML = ` (${rejectedDoctors.length})`;

        const approveTbody = document.getElementById("approve-tbl-body");
        const allDoctorsTbody = document.getElementById("get-all-doctors");
        const rejectedTbody = document.getElementById(
          "a2-rejected-doctors-tbody"
        );

        allPendingDoctors.forEach((doc) => {
          let str = `<tr>
            <td>${doc.id}</td>
            <td>${doc.fname} ${doc.lname}</td>
            <td>${doc.email}</td>
            <td>${doc.qualification}</td>
            <td class="a2-btn" onclick="approveDoc(${doc.id})">Approve</td>
          </tr>`;

          approveTbody.innerHTML += str;
        });

        allDoctors.forEach((doc) => {
          let tds = `<tr>
          <td>${doc.doctor_id}</td>
          <td>${doc.fname} ${doc.lname}</td>
          <td>${doc.email}</td>
          <td>${doc.qualification}</td>
          <td><p class="a2-btn" onclick="deleteDoctor(${doc.doctor_id})">Delete</p></td>
          </tr>`;
          allDoctorsTbody.innerHTML += tds;
        });

        rejectedDoctors.forEach((doc) => {
          let tds = `<tr>
          <td>${doc.doctor_id}</td>
          <td>${doc.fname} ${doc.lname}</td>
          <td>${doc.email}</td>
          <td>${doc.qualification}</td>
          <td><p class="a2-btn" onclick="approveDoc(${doc.doctor_id})">Approve</p></td>
          </tr>`;
          rejectedTbody.innerHTML += tds;
        });
      }
      getAllDoctors();

      async function deleteDoctor(id) {
        let resp = await fetch(`/delete-doctor/${id}`);
        location.reload();
      }

      async function approveDoc(id) {
        location.href = `/individual-doctor/${id}`;
      }
    </script>
  </body>
</html>
