<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>

  <link href="/stylesheets/output.css" rel="stylesheet">
  <link rel="stylesheet" href="./adminPage.css">

  <script src="./adminPage.js" defer></script>
</head>

<body>

  <div class="sidebar">
    <h1>Admin Panel</h1>
    <h1>sidebar</h1>
  </div>

  <div>
    <p class="back-btn btn"><img src="./adminPanel/icons/back-iceblue.svg" alt="Back"> Back</p>
  </div>

</body>

</html>