<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/public/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/public/css/adminPanel/allPatientDetails.css">
  <title>User Details</title>
  <style>

  </style>
</head>

<body>

  <div class="a5-container">

    <div class="a5-sectioin">

      <div class="a5-search">
        <div class="a5-searchbox">
          <img src="../../public/image/search.svg" alt="">
          <input type="text" name="searchUser" id="a5-searchUser" placeholder="Search Patient name">
        </div>
        <p id="a5-btn-search">Search</p>
      </div>

      <div class="a5-all-user">

        <h3>All Patients</h3>

        <div class="a5-user-table">

          <table id="a5-user-table">

            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>email</th>
              <th>Details</th>
            </tr>

            <tr>
              <td>patient1</td>
              <td>patient1</td>
              <td>patient1@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient2</td>
              <td>patient2</td>
              <td>patient2@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient3</td>
              <td>patient3</td>
              <td>patient3@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient4</td>
              <td>patient4</td>
              <td>patient4@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient5</td>
              <td>patient5</td>
              <td>patient5@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

          </table>

        </div>

      </div>

    </div>

  </div>

</body>

</html>