<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/public/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/public/css/adminPanel/allPatientDetails.css">
  <title>All User Details</title>
</head>

<body>

  <div class="a5-container">

    <div class="a5-sidenav">

      <div class="a5-sidenavupperbox">
        <div class="a5-profile">
          <div class="a5-profilephoto">
            <a href="#"><img src="/public/assets/sideBar/profile-icon-png-898.png" alt="profile"
                class="a5-profileimage" /></a>
          </div>
          <div class="a5-accountname">
            <p class="a5-username">Admin Name</p>
            <p class="a5-useremail">admin123@gmail.com</p>
          </div>
        </div>
        <div class="a5-logout">
          <P class="a5-btn-logout">Log out</P>
        </div>
      </div>

      <div class="a5-lists">
        <div class="a5-list-item">
          <i class="fa-solid fa-house a5-list-item-img"></i>
          <a href="#">Dashboard</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
          <a href="#">Doctors</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
          <a href="#">Patients</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-award a5-list-item-img"></i>
          <a href="#">Add Specialties</a>
        </div>
      </div>
    </div>

    <div class="a5-section">

      <div class="a5-search">
        <div class="a5-searchbox">
          <img src="/public/assets/adminPanel/icons/search.svg" alt="">
          <input type="text" name="searchUser" id="a5-searchUser" placeholder="Search Patient name">
        </div>
        <p id="a5-btn-search">Search</p>
      </div>

      <div class="a5-all-user">

        <h2>All Patients</h2>

        <div class="a5-user-table">

          <table id="a5-user-table">

            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>email</th>
              <th>Details</th>
            </tr>

            <tr>
              <td>patient1</td>
              <td>patient1</td>
              <td>patient1@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient2</td>
              <td>patient2</td>
              <td>patient2@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient3</td>
              <td>patient3</td>
              <td>patient3@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient4</td>
              <td>patient4</td>
              <td>patient4@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>patient5</td>
              <td>patient5</td>
              <td>patient5@gmail.com</td>
              <td>
                <p class="a5-btn">Detail</p>
              </td>
            </tr>

          </table>

        </div>

      </div>

    </div>

  </div>

</body>

</html>