<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/sideBar/newSidebar.css">
  <link rel="stylesheet" href="/public/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/public/css/adminPanel/patientsAllAppoinment.css">
  <title>User Details</title>
</head>

<body>

  <div class="a5-container">

    <div class="a5-sidenav">

      <div class="a5-sidenavupperbox">
        <div class="a5-profile">
          <div class="a5-profilephoto">
            <a href="#"><img src="/public/assets/sideBar/profile-icon-png-898.png" alt="profile"
                class="a5-profileimage" /></a>
          </div>
          <div class="a5-accountname">
            <p class="a5-username">Admin Name</p>
            <p class="a5-useremail">admin123@gmail.com</p>
          </div>
        </div>
        <div class="a5-logout">
          <P class="a5-btn-logout">Log out</P>
        </div>
      </div>

      <div class="a5-lists">
        <div class="a5-list-item">
          <i class="fa-solid fa-house a5-list-item-img"></i>
          <a href="#">Dashboard</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
          <a href="#">Doctors</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
          <a href="#">Patients</a>
        </div>
        <div class="a5-list-item">
          <i class="fa-solid fa-award a5-list-item-img"></i>
          <a href="#">Add Specialties</a>
        </div>
      </div>
    </div>


    <div class="a5-section">

      <div class="a5-patient">
        <div class="a5-patient-img">
          <img src="/public/assets/adminPanel/patient.png" alt="image">
        </div>
        <div class="a5-patient-details">
          <h1>patient patient</h1>
          <div class="a5-patient-more-detail">
            <div class="a5-details">
              <p><span class="a5-bold">Email :</span> patient@gmail.com</p>
              <p><span class="a5-bold">Contact :</span> 9856742516</p>
              <p><span class="a5-bold">DOB :</span> 2000-01-01</p>
            </div>
            <div class="a5-details">
              <p><span class="a5-bold">Gender :</span> male</p>
              <p><span class="a5-bold">City :</span> ahmedabad</p>
              <p><span class="a5-bold">Blood group :</span> O+</p>
            </div>
          </div>
          <div class="a5-patient-address">
            <p><span class="a5-bold">address : </span>consectetur adipisicing elit. Eius amet labore cum, debitis
              suscipit eligendi nam optio in non ullam?</p>
          </div>
        </div>
      </div>
    </div>


    <div class="a5-section">

      <div class="a5-all-doctor">

        <h2>Patient Appointment</h2>

        <div class="a5-doctor-table">

          <table id="a5-doctor-table">

            <tr>
              <th>ID</th>
              <th>Doctor Name</th>
              <th>Speciality</th>
              <th>Appointment Date</th>
              <th>Details</th>
            </tr>

            <tr>
              <td>1</td>
              <td>Jani Jasmin</td>
              <td>neurologist</td>
              <td>2024-01-22</td>
              <td>
                <p onclick="show('popup')" class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>2</td>
              <td>Jani Jasmin</td>
              <td>neurologist</td>
              <td>2024-01-22</td>
              <td>
                <p onclick="show('popup')" class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>3</td>
              <td>Jani Jasmin</td>
              <td>neurologist</td>
              <td>2024-01-22</td>
              <td>
                <p onclick="show('popup')" class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>4</td>
              <td>Jani Jasmin</td>
              <td>neurologist</td>
              <td>2024-01-22</td>
              <td>
                <p onclick="show('popup')" class="a5-btn">Detail</p>
              </td>
            </tr>

            <tr>
              <td>5</td>
              <td>Jani Jasmin</td>
              <td>neurologist</td>
              <td>2024-01-22</td>
              <td>
                <p onclick="show('popup')" class="a5-btn">Detail</p>
              </td>


          </table>

          <div class="a5-popup" id="a5-popup">

            <div class="a5-doctor-section">
              <div class="a5-doctor-card">
                <h3>Dr. Jani Jasmin</h3>
                <div class="a5-doctor-detail">
                  <div class="a5-doctor-more-detail">
                    <p><span class="a5-bold">Speciality :</span> neurologist</p>
                    <p><span class="a5-bold">Hospital :</span> Zydus Lifesciences</p>
                  </div>
                  <div class="a5-doctor-more-detail">
                    <p><span class="a5-bold">Appointment Date :</span> 2024-04-10</p>
                    <p><span class="a5-bold">Time :</span> 10:00 - 10:45</p>
                  </div>
                </div>
                <div class="a5-prescription">
                  <p><span class="a5-bold">Prescription :</span> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Ipsum
                    eaque nihil consequatur
                    nisi praesentium explicabo obcaecati quasi molestias reprehenderit, sint iure eius. Aspernatur,
                    ipsam
                    pariatur.</p>
                  <p><span class="a5-bold">Diagnosis :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam
                    non
                    expedita sint debitis quo
                    labore sequi enim voluptatum. Voluptatum, sapiente! Doloribus perspiciatis quaerat voluptas velit?
                    Lorem
                    ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt excepturi obcaecati quas, unde at,
                    voluptate
                    fugit distinctio quibusdam magni porro tempora. Nihil quos odit dolor numquam? Nostrum perferendis
                    molestias aperiam rem labore explicabo aliquid, beatae ad, modi autem incidunt placeat a at fugiat!
                    Eum!
                  </p>
                </div>
              </div>
            </div>

            <p class="a5-btn" onclick="hide('popup')"> Close </p>

          </div>

        </div>

      </div>

    </div>


  </div>






</body>

<script>

  funcId = function (id) {
    return document.getElementById(id);
  }

  let show = function (id) {
    funcId(id).style.display = 'block';
  }
  let hide = function (id) {
    funcId(id).style.display = 'none';
  }

</script>

</html>