<div class="A4-sidenav">

  <div class="A4-sidenavupperbox">
    <div class="A4-profile">
      <div class="A4-profilephoto">
        <a href="#"><img src="/assets/sideBar/profile-icon-png-898.png" alt="profile" class="A4-profileimage" /></a>
      </div>
      <div class="A4-accountname">
        <p class="A4-username">Doctor Name</p>
        <p class="A4-useremail">doctor123@gmail.com</p>
      </div>
    </div>
    <div class="A4-logout">
      <button class="A4-logoutBtn">Log Out</button>
    </div>
  </div>

  <div class="A4-lists">
    <div class="A4-list-item">
      <a href="#">Dashboard</a>
    </div>
    <div class="A4-list-item">
      <a href="#">Doctors</a>
    </div>
    <div class="A4-list-item">
      <a href="#">Patients</a>
    </div>
    <div class="A4-list-item">
      <a href="#">Add Specialties</a>
    </div>
  </div>
</div>



<!-- ============ -->

<!-- 
html
-body
-sidebar-div
-your-div
-/body
/html
-->

<!-- 
Sidebar width 
width: 350px;

body {
display: flex;
gap: 20px;
} 

.your-div {
width: 100%;
margin-left: 400px;
} 
-->






