<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Scheduling</title>
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
  
    <!-- Header section -->

    <header class="header">
      <div class="container">
          <div class="navbar">
              <div class="logo">
                  <a href=""><img src="/assets/logo.png" alt="logo"></a>
              </div>
              <nav class="nav-items">
                  <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Register</a></li>
                      <li><button>Book Your Appointment</button></li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>

  <!-- main content -->
  <main id="main">
      <!-- hero section -->
      <section class="hero-section">
          <div class="container">
              <div class="hero">
                 
                  <div class="hero-left">
                      <h1 class="hero-title">Book Your Doctor Appointment</h1>
                      <p class="hero-subtitle">A Healthier Tomorrow Starts Today: Schedule Your Appointment!
                        Your Wellness, Our Expertise: Set Up Your Appointment Today.</p>
                      <a class="btn" href="">Book Your Appointment</a>
                  </div>

                  <div class="hero-right">
                    <img src="/assets/doctor.png" alt="" >
                </div>
              </div>
          </div>
      </section>
  </main>

</body>
</html>