<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Page</title>
  <style>
    .active-button {
      text-align: center;
      margin-top: 9%;
    }

    .btn-size {
      margin: auto;
      height: 33px;
      width: 185px;
      border-radius: 5px;
      background-color: #4147e6;
      padding-top: 12px;
    }

    .btn-text {
      color: #ffff;
      text-decoration: none;
      font-size: 19px;
    }

    .text-font {
      font-size: 25px;
    }

    .img {
      height: 400px;
      width: 600px;
    }
  </style>
</head>

<body>

  <div class="active-button">
    <div>
      <img class="img" src="../../public/image/activationLinkSuccess.gif" alt="Hurray">
    </div>
    <p class="text-font">Your Account is Activated!</p>
    <p class="btn-size"><a class="btn-text" href="http://localhost:8000/media/login">Go to Login</a></p>
  </div>

</body>

</html>