<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Done</title>


</head>

<body>
  <h1 class="text-3xl">Task Done</h1>
  <table border="1" width="100%">
    <tr>
      <td>Back-end Task</td>
      <td>Frond-end Task</td>
    </tr>
    <tr>
      <td>
        <h4>Controllers</h4>
        <ul>
          <br>
          <li>createHospital</li>

          <br>
          <li>doctorController</li>

          <br>
          <li>doctorSpecialitiesController</li>

          <br>
          <li>nearByDoctorsController</li>

          <br>
          <li>prescriptionController</li>

          <br>
          <li>ratingController</li>

          <br>
          <li>slotController</li>

          <br>
          <li>userController</li>
        </ul>
      </td>
      <td>
        <h4>Start work</h4>
        <br>
        <ul>
          <li>add doctor Specialities</li>

          <br>
          <li></li>
        </ul>
      </td>
    </tr>
  </table>
  <table border="1" width="100%">
    <tr><td>doctor Panel</td></tr>
    
    <tr>
        <td><h1>get router</h1> <br><br>
          Dashboard: <a href="http://localhost:8000/doctorDashBoard/">doctorDashboard</a> <br> 
            MyPatient: <a href="http://localhost:8000/getPatientDetails/">getPatientDetails </a><br>
            Payment History: <a href="http://localhost:8000/doctorPaymentHistory/">doctorPaymentHistory</a> <br>
            Feedback: <a href="http://localhost:8000/getDoctorReview/">getDoctorReview</a> <br>
            doctorProfile: <a href="http://localhost:8000/doctorProfile/">doctorProfile</a> <br>
          All patient  paymentHistory: <a href="http://localhost:8000/doctorPaymentHistory/">doctorPaymentHistory</a> <br>
            patientDetails: <a href="http://localhost:8000/viewPatientHistory/${Id}">viewPatientHistory</a> <br>
            Review: <a href="http://localhost:8000/getDoctorReview/">getDoctorReview</a> <br> 
           viewPatientHistory: <a href="http://localhost:8000/viewPatientHistory/${Id}"></a>
        </td>
        <td>
          <h1>Get & Post</h1> <br><br>
              doctorCreateProfile: <a href="http://localhost:8000/doctorCreateProfile/">doctorCreateProfile</a> <br>
              editDoctorProfile: <a href="http://localhost:8000/updatedoctorProfile/">updatedoctorProfile</a> <br>
        </td>
        <td><h1>JSON data router</h1> <br><br>
              specialities: <a href="localhost:8000/specialities">specialities</a>  get & post both <br>
              allDoctorProfile: <a href="http://localhost:8000/allDoctorProfile/">allDoctorProfile</a> <br>
              doctorSidebar: <a href="doctorSideBarDetail">doctorSideBarDetail</a><br>
              doctordetail: <a href="http://localhost:8000/doctorData">doctorData</a><br>
              patientdetail: <a href="http://localhost:8000/getPatientData/">getPatientData</a>
              cityCombo: <a href="http://localhost:8000/cityCombo">cityCombo</a><br>
              doctorPaymentdetails: <a href="http://localhost:8000/doctorPaymentData">doctorPaymentData</a><br>
              updateDoctorProfile: <a href="http://localhost:8000/updateDoctorData/">updateDoctorData</a><br>
              reviews: <a href="http://localhost:8000/reviews/">reviews</a><br>
              getPatientData: <a href="http://localhost:8000/getpatientHistoryData/${Id}">getpatientHistoryData</a>

        </td>
    </tr>
  </table>

</body>

</html>