<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Done</title>


</head>

<body>
  <h1 class="text-3xl">Task Done</h1>
  <table border="1" width="100%">
    <tr>
      <td>Back-end Task</td>
      <td>Frond-end Task</td>
    </tr>
    <tr>
      <td>
        <h4>Controllers</h4>
        <ul>
          <br>
          <li>createHospital</li>

          <br>
          <li>doctorController</li>

          <br>
          <li>doctorSpecialitiesController</li>

          <br>
          <li>nearByDoctorsController</li>

          <br>
          <li>prescriptionController</li>

          <br>
          <li>ratingController</li>

          <br>
          <li>slotController</li>

          <br>
          <li>userController</li>
        </ul>
      </td>
      <td>
        <h4>Start work</h4>
        <br>
        <ul>
          <li>add doctor Specialities</li>

          <br>
          <li></li>
        </ul>
      </td>
    </tr>
  </table>

</body>

</html>