<link rel="stylesheet" href="css/sideBar/newSidebar.css">
<link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.min.css">

<div class="a5-sidenav">
  <div class="a5-sidenavupperbox">
    <div class="a5-profile">
      <div class="a5-profilephoto">
        <a href="" id="a5-viewprofile"><img src="assets/sideBar/profile-icon-png-898.png" alt="profile"
            class="a5-profileimage" /></a>
      </div>
      <div class="a5-accountname">
        <p class="a5-username" id="name">Doctor Name</p>
        <p class="a5-useremail" id="email">doctor123@gmail.com</p>
      </div>
    </div>
    <div class="a5-logout">
      <P class="a5-btn-logout">Log out</P>
    </div>
  </div>

  <div class="a5-lists">
    <div class="a5-list-item">
      <i class="fa-solid fa-house a5-list-item-img"></i>
      <a href="" id="a5-viewdashboard">Dashboard</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-calendar-days a5-list-item-img"></i>
      <a href="#">Schedule</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-bed-pulse a5-list-item-img"></i>
      <a href="" id="viewpatient">My Patients</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-regular fa-credit-card a5-list-item-img"></i>
      <a href="#">Payment History</a>
    </div>
  </div>
</div>



<!-- <script>
  const fetchSideBarDetails = async () => {
    let fetchData = await fetch(`http://localhost:8000/doctorSideBarDetail/4`)
    let data = await fetchData.json()
    console.log(data);
    let key = Object.keys(data[0])
    key.forEach(element => {
      console.log(key);
      document.getElementById(element).innerHTML = data[0][element]
    });
  }
  fetchSideBarDetails()
</script> -->



<!-- aa banne css side bar mate link kari lejo

  for icons :-

  for sidebar css :-
 