<div class="a5-sidenav">
  <div class="a5-sidenavupperbox">
    <div class="a5-profile">
      <div class="a5-profilephoto">
        <a href="#"><img src="/assets/sideBar/profile-icon-png-898.png" alt="profile" class="a5-profileimage" /></a>
      </div>
      <div class="a5-accountname">
        <p class="a5-username">Patient Name</p>
        <p class="a5-useremail">patient123@gmail.com</p>
      </div>
    </div>
    <div class="a5-logout">
      <P class="a5-btn-logout">Log out</P>
    </div>
  </div>

  <div class="a5-lists">
    <div class="a5-list-item">
      <i class="fa-solid fa-house a5-list-item-img"></i>
      <a href="#">Home</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-briefcase-medical a5-list-item-img"></i>
      <a href="#">All Doctors</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-calendar-days a5-list-item-img"></i>
      <a href="#">Sceduled Sessions</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-calendar-check a5-list-item-img"></i>
      <a href="#">My Bookings</a>
    </div>
    <div class="a5-list-item">
      <i class="fa-solid fa-gear a5-list-item-img"></i>
      <a href="#">Settings</a>
    </div>
  </div>
</div>



<!-- aa banne css side bar mate link kari lejo

  for icons :-
  <link rel="stylesheet" href="/public/fontawesome-free-6.5.2-web/css/all.min.css">

  for sidebar css :-
  <link rel="stylesheet" href="/public/css/sideBar/newSidebar.css"> -->