:root {
  --blue: #0167ce;
  --white: #ffffff;
}
.A4-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}
body {
  background-color: aliceblue;
}
.A4-header {
  text-align: center;
  padding: 55px 0px;
  h1 {
    font-size: 35px;
  }
}
.A4-content {
  font-size: 22px;
  padding: 0px 352px;
}
#diagnosis {
  width: 372px;
  height: 34px;
  font-size: 18px;
}
#prescription {
  font-size: 18px;
}
.A4-submitBtn {
  padding: 40px 274px;
}
.A4-submitbtn {
  height: 50px;
  width: 211px;
  font-size: 18px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 7px;
}
.A4-submitbtn:hover {
  background-color: #025bb4;
}
