<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="/stylesheets/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/slotPanel/slotPanel.css">
  <link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.min.css">
  <script src="javascript/slotPanel/slotPanel.js" defer></script>
</head>

<body>
  <section id="A3-+Slot">
    <div class="container">
      <div class="A3-row-1">
        <a id="A3-view" href="/upcomingSlots"><i class="fa-regular fa-eye"></i></a>
        <a id="A3-add" href="/addSlot"><i class="fa-solid fa-plus"></i></a>
      </div>
      <div class="A3-main">
        <div class="row">
          <h3 id="A3-heading">Add Schedule</h3>
          <span>
            <label for="slot_gap">Slots Time :</label>
            <select name="slot_gap" id="slot_gap">
              <option value="10">10</option>
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </span>
        </div>
        <form id="myform" method="post">
          <div class="row">
            <div class="date">
              <input type="date" name="day1[]" id="date_1">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day2[]" id="date_2">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day3[]" id="date_3">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day4[]" id="date_4">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day5[]" id="date_5">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day6[]" id="date_6">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <div class="row">
            <div class="date">
              <input type="date" name="day7[]" id="date_7">
            </div>
            <div class="times">
              <!-- <input type="text" name="day1" class="A3-time"> -->
              <input type="button" class="A3-buttons" value="+">
            </div>
            <span class="error"></span>
          </div>
          <hr>
          <input style="margin-top: 10px; padding: 10px;" class="A3-buttons" id="generateSlot" type="button" value="Generate Slots" onclick="handleGenerate()">
        </form>
      </div>
    </div>
    <%-include("../../common/newSidebar/doctorSidebar")%>
  </section>
</body>

</html>