<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Slots</title>
</head>

<body>
  <section id="allSlot">
    <div class="container">
      <div class="row">
        input:text
      </div>
    </div>
  </section>
</body>

</html>