<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Slots</title>
  <link rel="stylesheet" href="css/slotPanel/upcomingSlots.css">
  <script src="javascript/slotPanel/getSlots.js" defer></script>
</head>

<body onload="getDates()">
  <section id="A3-allslot">
    <%-include("../../common/doctorSideBar")%>
    <div class="container">
        <div class="A3-row-1">
        </div>
        <div class="A3-row-2">
          <table>
            <thead>
              <tr>
                <td>Date</td>
                <td>Slots</td>
              </tr>
            </thead>
            <tbody id="date-body"></tbody>
          </table>
        </div>
        <div class="A3-modal">
          <div class="A3-row-3">
            <h3 id="A3-modal-date">Date</h3>
            <input type="button" value="Close" onclick="handleClose()">
          </div>
          <table>
            <thead>
              <tr>
                <td>Start_time</td>
                <td>End_time</td>
                <td>Patient_name</td>
                <td>Patient_phone</td>
                <td>Delete</td>
              </tr>
            </thead>
            <tbody id="slot-body"></tbody>
          </table>
        </div>
        <div class="A3-delete-modal">
        </div>
    </div>
  </section>
</body>

</html>